# exclude all
/*

# Gradle stuff
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!gradle.properties
!settings.gradle

# Other Files.
!LICENSE
!README.md

# Include git important files
!.gitmodules
!.gitignore
!.github/

# Include Important Folders
!src/
