#Stolen form AE2 Repo. :D
# exclude all

/*

# Include important folders

# Gradle stuff
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!build.properties
!settings.gradle

# Other Files.
!LICENSE
!README.md
!curse_upload.json

# Include git important files
!.gitmodules
!.gitignore

# Include Important Folders
!src/
!libs/
!archive
