# CodeChickenLib Access Transformer
public net.minecraft.core.Direction BY_3D_DATA
public net.minecraft.world.phys.BlockHitResult <init>(ZLnet/minecraft/world/phys/Vec3;Lnet/minecraft/core/Direction;Lnet/minecraft/core/BlockPos;ZZ)V
public net.minecraft.server.MinecraftServer storageSource

public com.mojang.math.Matrix3f * # All fields.
public com.mojang.math.Matrix4f * # All fields.
public com.mojang.blaze3d.vertex.BufferBuilder format
public com.mojang.blaze3d.vertex.DefaultedVertexConsumer defaultColorSet
public net.minecraft.world.phys.shapes.VoxelShape shape
public net.minecraft.world.phys.shapes.VoxelShape <init>(Lnet/minecraft/world/phys/shapes/DiscreteVoxelShape;)V
public net.minecraft.world.phys.shapes.VoxelShape getCoords(Lnet/minecraft/core/Direction$Axis;)Lit/unimi/dsi/fastutil/doubles/DoubleList;
public net.minecraft.world.phys.shapes.SliceShape getCoords(Lnet/minecraft/core/Direction$Axis;)Lit/unimi/dsi/fastutil/doubles/DoubleList;
public net.minecraft.world.phys.shapes.ArrayVoxelShape getCoords(Lnet/minecraft/core/Direction$Axis;)Lit/unimi/dsi/fastutil/doubles/DoubleList;
public net.minecraft.world.phys.shapes.CubeVoxelShape getCoords(Lnet/minecraft/core/Direction$Axis;)Lit/unimi/dsi/fastutil/doubles/DoubleList;
public net.minecraft.world.inventory.MenuType constructor
public net.minecraft.client.renderer.RenderStateShard * # Everything.
public net.minecraft.client.renderer.RenderType *() # All Methods
public net.minecraft.client.renderer.RenderType * # All Fields.
public net.minecraft.client.renderer.RenderType$CompositeRenderType
public net.minecraft.client.renderer.RenderType$CompositeRenderType *
public net.minecraft.client.renderer.RenderType$CompositeRenderType *()
public net.minecraft.client.renderer.RenderType$CompositeState
public net.minecraft.client.renderer.RenderType$CompositeState *
public net.minecraft.client.renderer.RenderType$CompositeState *()
public net.minecraft.world.item.ArmorMaterials HEALTH_FUNCTION_FOR_TYPE

public com.mojang.blaze3d.vertex.VertexFormat uploadToBuffer(Lcom/mojang/blaze3d/buffers/GpuBuffer;Ljava/nio/ByteBuffer;ILjava/util/function/Supplier;)Lcom/mojang/blaze3d/buffers/GpuBuffer;

public-f net.minecraft.world.level.block.Block stateDefinition
public-f net.minecraft.world.level.block.Block defaultBlockState()Lnet/minecraft/world/level/block/state/BlockState;

public-f net.minecraft.data.loot.LootTableProvider subProviders
public net.minecraft.data.tags.IntrinsicHolderTagsProvider tag(Lnet/minecraft/tags/TagKey;)Lnet/minecraft/data/tags/TagAppender;

public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen renderSlot(Lnet/minecraft/client/gui/GuiGraphics;Lnet/minecraft/world/inventory/Slot;)V
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen renderFloatingItem(Lnet/minecraft/client/gui/GuiGraphics;Lnet/minecraft/world/item/ItemStack;IILjava/lang/String;)V
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen findSlot(DD)Lnet/minecraft/world/inventory/Slot;
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen isHovering(Lnet/minecraft/world/inventory/Slot;DD)Z
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen recalculateQuickCraftRemaining()V
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen clickedSlot
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen draggingItem
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen isSplittingStack
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen quickCraftingType
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen quickCraftingRemainder
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen$SnapbackData
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen snapbackData
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen showTooltipWithItemInHand(Lnet/minecraft/world/item/ItemStack;)Z
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen getHoveredSlot(DD)Lnet/minecraft/world/inventory/Slot;
public-f net.minecraft.world.inventory.Slot x
public-f net.minecraft.world.inventory.Slot y
public net.minecraft.world.inventory.AbstractContainerMenu addSlot(Lnet/minecraft/world/inventory/Slot;)Lnet/minecraft/world/inventory/Slot;

public net.minecraft.client.gui.render.state.BlitRenderState getBounds(IIIILorg/joml/Matrix3x2f;Lnet/minecraft/client/gui/navigation/ScreenRectangle;)Lnet/minecraft/client/gui/navigation/ScreenRectangle;

public net.minecraft.client.gui.GuiGraphics minecraft
