# CodeChickenLib Access Transformer
public net.minecraft.core.Direction f_122348_ # BY_3D_DATA
public net.minecraft.world.phys.BlockHitResult <init>(ZLnet/minecraft/world/phys/Vec3;Lnet/minecraft/core/Direction;Lnet/minecraft/core/BlockPos;Z)V # <init>
public net.minecraft.server.MinecraftServer f_129744_ # storageSource

public com.mojang.math.Matrix3f * # All fields.
public com.mojang.math.Matrix4f * # All fields.
public com.mojang.blaze3d.vertex.BufferBuilder f_85658_ # format
public com.mojang.blaze3d.vertex.DefaultedVertexConsumer f_85824_ # defaultColorSet
public net.minecraft.world.phys.shapes.VoxelShape f_83211_ # shape
public net.minecraft.world.phys.shapes.VoxelShape <init>(Lnet/minecraft/world/phys/shapes/DiscreteVoxelShape;)V # <init>
public net.minecraft.world.phys.shapes.VoxelShape m_7700_(Lnet/minecraft/core/Direction$Axis;)Lit/unimi/dsi/fastutil/doubles/DoubleList; # getCoords
public net.minecraft.world.phys.shapes.SliceShape m_7700_(Lnet/minecraft/core/Direction$Axis;)Lit/unimi/dsi/fastutil/doubles/DoubleList; # getCoords
public net.minecraft.world.phys.shapes.ArrayVoxelShape m_7700_(Lnet/minecraft/core/Direction$Axis;)Lit/unimi/dsi/fastutil/doubles/DoubleList; # getCoords
public net.minecraft.world.phys.shapes.CubeVoxelShape m_7700_(Lnet/minecraft/core/Direction$Axis;)Lit/unimi/dsi/fastutil/doubles/DoubleList; # getCoords
public net.minecraft.world.inventory.MenuType f_39981_ # constructor
public net.minecraft.server.players.GameProfileCache f_10966_ # profilesByName
public net.minecraft.server.players.GameProfileCache$GameProfileInfo
public net.minecraft.client.renderer.RenderStateShard * # Everything.
public net.minecraft.client.renderer.RenderType *() # All Methods
public net.minecraft.client.renderer.RenderType * # All Fields.
public-f net.minecraft.client.renderer.block.BlockRenderDispatcher f_110900_ # modelRenderer
public net.minecraft.client.renderer.block.BlockRenderDispatcher f_173397_ # blockEntityRenderer
public-f net.minecraft.client.renderer.block.BlockRenderDispatcher f_110901_ # liquidBlockRenderer
public-f net.minecraft.client.Minecraft f_91052_ # blockRenderer
public net.minecraft.world.item.ArmorMaterials f_40460_ # HEALTH_PER_SLOT

public net.minecraft.commands.arguments.ResourceKeyArgument m_233255_(Lcom/mojang/brigadier/context/CommandContext;Ljava/lang/String;Lnet/minecraft/resources/ResourceKey;Lcom/mojang/brigadier/exceptions/DynamicCommandExceptionType;)Lnet/minecraft/core/Holder; # getRegistryKeyType

public-f net.minecraft.world.level.block.Block f_49792_ # stateDefinition
public-f net.minecraft.world.level.block.Block m_49966_()Lnet/minecraft/world/level/block/state/BlockState; # defaultBlockState
#public net.minecraft.data.tags.TagsProvider m_206424_(Lnet/minecraft/tags/TagKey;)Lnet/minecraft/data/tags/TagsProvider$TagAppender; # tag

protected net.minecraft.client.renderer.ShaderInstance f_173331_ # uniforms
protected net.minecraft.client.renderer.ShaderInstance m_173354_(Lcom/google/gson/JsonElement;)V # parseUniformNode
protected-f com.mojang.blaze3d.shaders.Uniform f_85588_ # intValues
protected-f com.mojang.blaze3d.shaders.Uniform f_85589_ # floatValues
protected com.mojang.blaze3d.shaders.Uniform f_85591_ # dirty
public-f com.mojang.blaze3d.shaders.Uniform m_5985_(F)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_7971_(FF)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_166700_(IF)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_5889_(FFF)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_142276_(Lcom/mojang/math/Vector3f;)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_5805_(FFFF)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_142558_(Lcom/mojang/math/Vector4f;)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_5808_(FFFF)V # setSafe
public-f com.mojang.blaze3d.shaders.Uniform m_7401_(IIII)V # setSafe
public-f com.mojang.blaze3d.shaders.Uniform m_142617_(I)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_142326_(II)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_142693_(III)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_142492_(IIII)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_5941_([F)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_142588_(FFFF)V # setMat2x2
public-f com.mojang.blaze3d.shaders.Uniform m_141964_(FFFFFF)V # setMat2x3
public-f com.mojang.blaze3d.shaders.Uniform m_142005_(FFFFFFFF)V # setMat2x4
public-f com.mojang.blaze3d.shaders.Uniform m_141963_(FFFFFF)V # setMat3x2
public-f com.mojang.blaze3d.shaders.Uniform m_142217_(FFFFFFFFF)V # setMat3x3
public-f com.mojang.blaze3d.shaders.Uniform m_142604_(FFFFFFFFFFFF)V # setMat3x4
public-f com.mojang.blaze3d.shaders.Uniform m_142004_(FFFFFFFF)V # setMat4x2
public-f com.mojang.blaze3d.shaders.Uniform m_142605_(FFFFFFFFFFFF)V # setMat4x3
public-f com.mojang.blaze3d.shaders.Uniform m_141978_(FFFFFFFFFFFFFFFF)V # setMat4x4
public-f com.mojang.blaze3d.shaders.Uniform m_5679_(Lcom/mojang/math/Matrix4f;)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_200759_(Lcom/mojang/math/Matrix3f;)V # set
public com.mojang.blaze3d.shaders.Program <init>(Lcom/mojang/blaze3d/shaders/Program$Type;ILjava/lang/String;)V # <init>
public com.mojang.blaze3d.shaders.Program$Type m_85571_()I # getGlType
